body {
    font-family: sans-serif;
}

.header {
    text-align: center;
}

.datos_personales, .datos_bancarios, .pago {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    box-sizing: border-box;
    width: 100%;
}

.lblIzq {
    box-sizing: border-box;
    width: 50%;
    font-weight: bold;
    float: left;
    overflow: auto;
}

div.lblIzq label {
    margin-left: 70%;
}

.lblDer {
    box-sizing: border-box;
    width: 50%;
    float: left;
    overflow: auto;
}

div.lblDer label {
    margin-left: 10%;
}

.clear {
    clear: left;
}

.widthFull {
    width: 100%;
}